body
{
    background-image: url(world%20map.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: whitesmoke;
}

body a
{
    color: aqua;
}

h1
{
    width: 40%;
    margin: auto;
    text-align: center;
    font-family:cursive;
}

.header
{
    width:100%;
    height:50px;
    top: 40px;
    text-align: center;
    margin-bottom: 20px;
    background-color: 
}

.person_info
{
    position: fixed;
    left: 10px;
    top: 200px;
}

.nav a
{
    border: 1px solid #5C586B;
    text-emphasis: bold;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    font-size: 20px; 
}

.nav a:hover
{
 box-shadow: inset 0 0 0 5px #F5EBEE;
    font-weight: bold;
    transition: 0.4s;
}

.day-box.PREP
{
    width: 50%;
    margin:auto;
    margin-top: 40px;
    padding: 15px;
    background-color: #bbb5bd96;
    border-radius: 10px;
}

.day-box.PREP a:hover
{
color:#750003;
text-decoration:overline;
font-style:oblique;
    font-weight: bold;
    font-size: 18px; 
    transition: 0.5s;
}

.day-box.CURRENT
{
    width:50%;
    margin:auto;
    margin-top: 20px;
    padding: 15px;
    background-color: #bbb5bd96;
    border-radius: 10px;
}

.day-box.CURRENT a:hover
{
color:#750003;
text-decoration:overline;
font-style:oblique;
    font-weight: bold;
    font-size: 18px; 
    transition: 0.5s;
}

.day-box.COMPLETED
{
    width:50%;
    margin:auto; 
    margin-top: 20px;
    padding: 15px;
    background-color: #bbb5bd96;
    border-radius: 10px;
}

.day-box.COMPLETED a:hover
{
color:#750003;
text-decoration:overline;
font-style:oblique;
    font-weight: bold;
    font-size: 18px; 
    transition: 0.5s;
}

.day
{
    background-color: #26293abf;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Chapbook';
    src: url(font/Chapbook.woff);
    font-weight: bold;
}

.reading-box
{ 
    background-color: #3b5065ab;
    padding: 10px;
    border-radius: 5px;
}

.prep-box
{
    background-color: #456667b0;
    padding: 10px;
    border-radius: 5px;
}

.grading-box
{
    background-color: #76b0b2c7;
    padding: 10px;
    border-radius: 5px;
}

.lab-box
{
    background-color: #b1cdceb0;
    padding: 10px;
    border-radius: 5px;
}

.account_form
{   width:60%;
    margin-top:100px;
    margin-left: 20%;
    padding:10px;
    text-align: center;
}
body > form > img
{position: absolute;}

body > form > input[type=file]:nth-child(14)
{margin-top: 140px;}

label
{
    display: block;
    padding: 5px;
}

table
{
    width: 70%;
    margin-top: 10px;
    margin-left: 15%;
    border-collapse: separate;
    border-spacing: 0px;
}

th, td
{
    border: 1px solid;
}


table a:hover
{
color:#E0F5FF;
text-decoration:overline;
font-style:oblique;
    font-weight: bold;
    font-size: 18px; 
    transition: 0.5s;
}

body > table:nth-child(7) > tbody
{display: block;}

body > table:nth-child(7) > tbody a
{margin-right: 10px;}

body > table:nth-child(10) > tbody
{display: block;}

body > table:nth-child(10) > tbody a
{margin-right: 10px;}


svg
{
    margin-top:130px;
    margin-left: 15%;
}

body > h3:nth-child(5)
{
    margin-top: 60px;
    margin-left:15%;
}

body > h3:nth-child(8)
{margin-top:20px;
margin-left:15%;}

.grade
{
    margin-left: 15%;
}

body > div.day-box.COMPLETED > div.prep-box > a > div > div.grade
{margin-left: 0px;}

body > div.day-box.COMPLETED > div.lab-box > a > div > div.grade
{margin-left:0px;}

body > div.day-box.CURRENT > div.prep-box > a > div > div.grade

.person_image
{
    height: 110px;
    width:80px;
}
