body
{
    background-image: url(world%20map.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: whitesmoke;
}

body a
{
    color: aqua;
}

h1
{
    width: 40%;
    margin: auto;
    text-align: center;
    font-family:cursive;
}

.header
{
    width:100%;
    top: 40px;
    text-align: center;
    margin-bottom: 20px;
}

body > div.header > div.person_info
{
    position: fixed;
    left: 40px;
    top: 200px;
}

body > div.header > div.person_info > img
{
    display:block;
    width:80px;
    height:110px;
    padding: 10px;
}


.nav a
{
    border: 2px solid #5C586B;
    text-emphasis: bold;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    font-size: 20px; 
}

.nav a:hover
{
    box-shadow: inset 0 0 0 5px #F5EBEE;
    font-weight: bold;
    transition: 0.4s;
    
}

.day-box.PREP
{
    width: 50%;
    margin:auto;
    margin-top: 30px;
    padding: 15px;
    background-color: #bbb5bd96;
    border-radius: 10px;
}

.day-box.PREP:hover
{
    width: 60%;
transition: 1s;
    padding: 0;
}

.day-box.PREP a:hover
{
color:#750003;
text-decoration:overline;
font-style:oblique;
    font-weight: bold;
    font-size: 18px; 
    transition: 0.5s;
}

.day-box.CURRENT
{
    width:50%;
    margin:auto;
    margin-top: 20px;
    padding: 15px;
    background-color: #bbb5bd96;
    border-radius: 10px;
}

.day-box.CURRENT:hover
{
width: 60%;
transition: 1s;
    padding: 0;
}
.day-box.CURRENT a:hover
{
color:#750003;
text-decoration:overline;
font-style:oblique;
    font-weight: bold;
    font-size: 18px; 
    transition: 0.5s;
}

.day-box.COMPLETED
{
    width:50%;
    margin:auto; 
    margin-top: 20px;
    padding: 15px;
    background-color: #bbb5bd96;
    border-radius: 10px;
}

.day-box.COMPLETED:hover
{
    width: 60%;
transition: 1s;
    padding: 0;
}

.day-box.COMPLETED a:hover
{
color:#750003;
text-decoration:overline;
font-style:oblique;
    font-weight: bold;
    font-size: 18px; 
    transition: 0.5s;
}

.day
{
    background-color: #26293abf;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Chapbook';
    src: url(font/Chapbook.woff);
    font-weight: bold;
}

.reading-box
{ 
    background-color: #3b5065ab;
    padding: 10px;
    border-radius: 5px;
}

.prep-box
{
    background-color: #456667b0;
    padding: 10px;
    border-radius: 5px;
}

.grading-box
{
    background-color: #76b0b2c7;
    padding: 10px;
    border-radius: 5px;
}

.lab-box
{
    background-color: #b1cdceb0;
    padding: 10px;
    border-radius: 5px;
}

.account_form
{  
    width:35%;
    height: 700px;
    margin-top:100px;
    margin-left: 35%;
    padding:10px;
    text-align: center;
}
body > form > img
{position: absolute;
    left:46.8%}

body > form > input[type=file]:nth-child(14)
{margin-top: 140px;}

label
{
    display: block;
    padding: 5px;
}

table
{
    width: 60%;
    margin-top: 10px;
    margin-left: 20%;
    border-collapse: separate;
    border-spacing: 0px;
}

th, td
{
    border: 1px solid;
    padding: 4px;
}


table a:hover
{
color:#E0F5FF;
text-decoration:overline;
font-style:oblique;
    font-weight: bold;
    font-size: 18px; 
    transition: 0.5s;
}

body > table:nth-child(7) > tbody
{display: block;}

body > table:nth-child(7) > tbody a
{margin-right: 10px;}

body > table:nth-child(10) > tbody
{display: block;}

body > table:nth-child(10) > tbody a
{margin-right: 10px;}


svg
{
    margin-top:130px;
    margin-left: 15%;
}

body > h3:nth-child(5)
{
    margin-top: 60px;
    margin-left:15%;
}

body > h3:nth-child(8)
{margin-top:20px;
margin-left:15%;}

.grade
{
    margin-left: 15%;
}

body > div.day-box.COMPLETED > div.prep-box > a > div > div.grade
{margin-left: 0px;}

body > div.day-box.COMPLETED > div.lab-box > a > div > div.grade
{margin-left:0px;}

body > div.day-box.CURRENT > div.prep-box > a > div > div.grade
{margin-left:0px;}

iframe
{
    display: block;
    width: 80%;
    height: 800px;
    margin-top: 45px;
    margin-bottom: 30px;
    margin-left: 10%;
    border-style: solid;
    border-color: white;
    border-width: 3px;
}

.prompt
{
    display:block;
    width: 80%;
    margin-left: 10%;
    font-size: 16px;   
}

.grade-table
{
    width: 80%;
    margin-left: 10%;
    font-size: 18px;
}

body > table > tbody
{text-align: center;}

body > table > tbody img
{
    width: 80px;
    height: 110px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body > form
{
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

body > form > div.question > div.rubric_comments > span
{
    width: 80%;
    margin-left: 10%;
    text-align: center;  
}

body > form > div.question > div.rubric_comments > textarea
{
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
